:root {
    /* Font */
    --family-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --medium-font: 15px;
    --medium-font-2: 16px;
    --large-font: 28px;

    /* Colors */
    --dark-color: #000000;
    --dark-color-2: rgb(75, 75, 75);
    --gray-color: #eee;
    
    /* Weight */
    --weight-large: 600;
    --medium-weight-2: 400;

    /* Margin */
    --default-margin: 12px;

    /* Gap */
    --default-gap: 14px;

    /* Border */
    --radius-default: 4px;
}

@media screen and (min-width: 320px) and (max-width: 1920px) {
    main {
        width: 100%;
        height: 100%;
        display: grid;
        grid-auto-flow: row;
        place-content: center;
        gap: var(--default-gap);
    
    }

    .grid {
        width: 340px;
        display: grid;
    }

    .form-register {
        height: 100%;
        grid-auto-flow: row;
    }

    .form-title {
        font-size: var(--large-font);
        font-weight: var(--weight-large);
        margin-bottom: var(--default-margin);
    }

    .field-input {
        gap: var(--default-gap);

    }

    input,
    button {
        background-color: var(--gray-color);
        border: none;
        border-radius: var(--radius-default);
        color: var(--dark-color-2);
        font-family: var(--family-font);
        font-size: var(--medium-font);
        padding: 10px 16px;
        outline: none;
    }

    input:focus {
        border: 1px solid var(--dark-color);
    }

    .alert-email {
        display: none;
    }

    .btn-register {
        background-color: #000;
        color: #FFF;
        font-weight: var(--medium-weight-2);
        font-size: var(--medium-font-2);
        margin-top: 9px;
        transition: background 0.015ms;
        width: 100%;
    }

    .btn-register:hover{
        background-color: var(--dark-color-2)
    }




}

;